@model GuardaImagenNet6.ViewModel.Usuario.UsuarioVM
@{
    ViewData["Title"] = "Actualizar Usuario";
}

<h3>Actualizar Usuario Path</h3>

<form asp-controller="FotoPath" asp-action="Editar" method="post" enctype="multipart/form-data" role="form">
    <div class="row">
        <div class="col-5">
            <div class="form-group mt-3">
                <input type="text" class="form-control" asp-for="NombreUsuario" placeholder="Nombre Usuario" readonly />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group  mt-3">
                <input type="password" class="form-control" asp-for="Contrasenya" placeholder="Contraseña" />
                <span asp-validation-for="Contrasenya" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="file" class="form-control-file" asp-for="FotoByte" accept="image/*" />
            </div>
            <div class="form-group mt-3">
                <input type="checkbox" class="form-control-checkbox" asp-for="Activo" placeholder="Nombre Usuario" />
                <label for="Activo">Activo</label>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-success px-3 mx-2">Actualizar</button>
                <a asp-controller="FotoPath" asp-action="Listado" class="btn btn-primary px-4 mx-2 ">Inicio</a>
                <a asp-controller="FotoPath" asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger px-4">Eliminar</a>

            </div>
        </div>
        <div class="col-4 offset-2">
            <img src=@Model.FotoPath id="imgUser" alt="imagen usuario" width="200" />
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
    <script src="~/js/usuario/PreVisualmagenUser.js" asp-append-verion="true"></script>
}
