@model GuardaImagenNet6.ViewModel.Usuario.UsuarioVM

@{
    ViewData["Title"] = "Eliminar Usuario";
}
<div class="alert alert-danger">
    <p>Esta seguro de elimnar el usurio</p>

</div>
<div class="row">
    <dl>
        <dt>ID Usuario:</dt>
        <dd>@Model.ID</dd>
        <dt>Nombre</dt>
        <dd>@Model.NombreUsuario</dd>
        <dt>Activo</dt>
        <dd>@Model.Activo</dd>
        <dt></dt>
        <dd><img src="@Model.FotoSrc" alt="foto usuario" /></dd>
    </dl>
    <form asp-controller="Home" asp-action="Eliminar" method="post" role="form">
        <p><button type="submit" class="btn btn-danger"></button></p>
    </form>
</div>
