@model GuardaImagenNet6.ViewModel.Usuario.UsuarioVM
@{
    ViewData["Title"] = "Crear Usuario";
}

<h3>Crear Usuario</h3>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Crear">
    <div class="row">
        <div class="col-5">
            <div class="form-group mt-3">
                <input type="text" class="form-control" asp-for="NombreUsuario" placeholder="Nombre Usuario" />
            </div>
            <div class="form-group  mt-3">
                <input type="password" class="form-control" asp-for="Contrasenya" placeholder="Contraseña" />
            </div>
            <div class="form-group mt-3">
                <input type="file" class="form-control-file" asp-for="FotoByte" accept="image/*" />
            </div>
            <div class="form-group mt-3">
                <input type="checkbox" class="form-control-checkbox" asp-for="Activo" checked="true" placeholder="Nombre Usuario" />
                <label for="Activo">Activo</label>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-success">Guardar</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Inicio</a>
            </div>
        </div>
        <div class="col-4 offset-2">
            <img src="~/image/usuario/userDefault.png" id="imgUser" alt="imagen usuario" width="200" />

        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/usuario/PreVisualmagenUser.js" asp-append-verion="true"></script>
}

