@{
    ViewData["Title"] = "Usuarios";
}

<hr />
<div class="alert alert-primary">

    <h3 class="text-center mb-5 text-black">
        Proyecto para guardar imagenes como binario y ruta en BDD con SQL SERVER
    </h3>
</div>