@model IEnumerable<GuardaImagenNet6.ViewModel.Usuario.UsuarioVM>
@{
    ViewData["Title"] = "Usuarios";
}

<h3 class="text-center mb-4">
    Proyecto para guardar imagenes como bario y ruta en BDD con SQL SERVER
    </h3>
<hr />