@model IEnumerable<GuardaImagenNet6.ViewModel.Usuario.UsuarioVM>
@{
    ViewData["Title"] = "Usuarios";
}

<hr />
<h3 class="text-center mb-5">
    Proyecto para guardar imagenes como binario y ruta en BDD con SQL SERVER
    </h3>