@* @model GuardarImagenNet6.ViewModel.UsuarioVM *@

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index" >
        <input clas />


    </form>
</div>